<header>
    <div class="header-content">
        <div class="header-content-inner">
          <img src="img/author.jpg" alt="author thumb" class="dot animated fadeInDown img-circle">

            <h1 class="animated fadeInDown">Hello world :)</h1>
            <hr>
            <h3 class="animated fadeInDown h-m">Sou Rubista, trabalho com Desenvolvimento Web e Mobile</h3>
            <a href="/resume/#/rb/pt" class="btn btn-primary btn-xl page-scroll animated fadeInDown">Confira meu curriculo!</a>
        </div>
    </div>
</header>
